<!-- KPI Indicators -->
<div class="row my-4">
	<div class="col-md-3">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Clients</h5>
				<p class="card-text">0</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Réservations à venir</h5>
				<p class="card-text">0</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Retours en retard</h5>
				<p class="card-text">0</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">En attente de maintenance</h5>
				<p class="card-text">0</p>
			</div>
		</div>
	</div>
</div>

<!-- KPI Graphs -->
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Clients</h5>
				<canvas id="clientsChart"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Réservations à venir</h5>
				<canvas id="reservationsChart"></canvas>
			</div>
		</div>
	</div>
</div>
</div>
