<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Location d'équipement</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div id="type-filter" class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" data-type="laptop">Ordinateurs portables</a>
          <a href="#" class="list-group-item list-group-item-action" data-type="сomputer_monitor">Ecrans d'ordinateurs</a>
          <a href="#" class="list-group-item list-group-item-action" data-type="smartphone">Smartphones</a>
          <a href="#" class="list-group-item list-group-item-action" data-type="accessory">Accessoires</a>
          <a href="#" class="list-group-item list-group-item-action" data-type="tablet">Tablettes</a>
          <a href="#" class="list-group-item list-group-item-action" data-type="VR_headset">Casque VR</a>
        </div>
      </div>
      <div id="equipment-list" class="col-md-9">
        <!-- Les unités du matériel apparaîtront ici -->
      </div>
      <div class="col-md-12 text-center">
        <button id="load-more" class="btn btn-primary mt-3">Charger plus</button>
      </div>
    </div>
  </div>

  <script>
    let offset = 0;
    const limit = 10;

    function loadModel(type = '') {
      fetch(`../../controllers/load-equipment.php?type=${type}&offset=${offset}&limit=${limit}`)
        .then(response => response.json())
        .then(data => {
          const container = document.getElementById('equipment-list');
          container.innerHTML = '';
          data.forEach(item => {
            const modelItem = `<div class="card mb-3 equipment-item" data-id="${item.id_model}">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="${item.photo}" class="card-img" alt="${item.name}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">${item.name}</h5>
            </div>
          </div>
        </div>
      </div>`;
            container.insertAdjacentHTML('beforeend', modelItem);
          });

          document.querySelectorAll('.equipment-item').forEach(card => {
            card.addEventListener('click', function() {
              const id = this.getAttribute('data-id');
              redirectToDetails(id);
            });
          });
        })
        .catch(error => {
          console.error('Erreur lors du chargement de l\'équipement:', error);
        });
    }


    document.querySelectorAll('#type-filter .list-group-item').forEach(item => {
      item.addEventListener('click', function(event) {
        event.preventDefault();
        const type = this.getAttribute('data-type');
        loadModel(type);

        document.querySelectorAll('#type-filter .list-group-item').forEach(i => i.classList.remove('active'));
        this.classList.add('active');
        offset = 0;
      });
    });

    loadModel();

    document.getElementById('load-more').addEventListener('click', function() {
      const activeType = document.querySelector('#type-filter .list-group-item.active').getAttribute('data-type');
      offset += limit;
      loadModel(activeType);
    });

    function redirectToDetails(id) {
      window.location.href = `./item.html.php?id=${id}`;
    }
  </script>
</body>

</html>
