<div class="container pt-3 pb-1">
	<!-- Main Header -->
	<div class="row pb-2">
		<div class="col">
			<h1 style="font-weight: bold;">Utilisateurs</h1>
		</div>
	</div>

	<!-- Primary Tabs -->
	<div class="row">
		<div class="col">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="students-tab" data-toggle="tab" href="#students" role="tab"
						aria-controls="students" aria-selected="true">Élèves</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="teachers-tab" data-toggle="tab" href="#teachers" role="tab" aria-controls="teachers"
						aria-selected="false">Enseignants</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- Search Bar -->
	<div class="row">
		<div class="col">
			<div class="input-group mb-3 mt-3">
				<div class="input-group-prepend">
					<!-- <span class="input-group-text" id="basic-addon1"><img src="search-icon.svg" alt=""></span> -->
				</div>
				<input type="text" class="form-control" placeholder="Recherche de clients..." aria-label="Поиск"
					aria-describedby="basic-addon1">
			</div>
		</div>
	</div>

	<!-- Tab Contents -->
	<div class="tab-content" id="myTabContent">
		<!-- Students Tab Pane -->
		<div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="students-tab">
			<!-- Secondary Students Tabs -->
			<ul class="nav nav-tabs mt-3">
				<li class="nav-item">
					<a class="nav-link active" id="devInfo-tab" data-toggle="tab" href="#devInfo" role="tab"
						aria-controls="devInfo" aria-selected="true">Étudiants Développement informatique</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="sysReseau-tab" data-toggle="tab" href="#sysReseau" role="tab"
						aria-controls="sysReseau" aria-selected="false">Étudiants Systèmes, réseaux et
						cybersécurité</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="comMarketing-tab" data-toggle="tab" href="#comMarketing" role="tab"
						aria-controls="comMarketing" aria-selected="false">Étudiants Commerce et Marketing
						digital</a>
				</li>
			</ul>

			<!-- Secondary Tab Content -->
			<div class="tab-content">
				<!-- Content for "Étudiants Développement informatique" -->
				<div class="tab-pane fade show active" id="devInfo" role="tabpanel" aria-labelledby="devInfo-tab">
					<!-- Cards or any other content -->
				</div>
				<div class="tab-pane fade" id="sysReseau" role="tabpanel" aria-labelledby="sysReseau-tab">
					<!-- Content for "Étudiants Systèmes, réseaux et cybersécurité" -->
				</div>
				<div class="tab-pane fade" id="comMarketing" role="tabpanel" aria-labelledby="comMarketing-tab">
					<!-- Content for "Étudiants Commerce et Marketing digital" -->
				</div>
			</div>
		</div>

		<!-- Teachers Tab Pane -->
		<div class="tab-pane fade" id="teachers" role="tabpanel" aria-labelledby="teachers-tab">
			<!-- Content for Teachers -->
			<p>Contenu pour les enseignants ici.</p>
		</div>
	</div>
</div>

<div class="card-body">
	<div class="table-responsive">
		<table class="table align-middle">
			<thead>
				<tr>
					<th>Client <button class="btn btn-link p-0 border-0 sortButton" title="Sort by Client"><i
								class="fas fa-sort"></i></button></th>
					<th> <button class="btn btn-link p-0 border-0 sortButton" title="Sort by Date"><i
								class="fas fa-sort"></i></button>Date de première connexion</th>
					<th>Email</th>
					<th>Téléphone</th>
					<th>Dernier équipement loué</th>
					<th>Date de prise</th>
					<th>Date de restitution</th>
					<th>État du matériel rendu</th>
					<th>Statut du client</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<p class="m-0">Alex Dupont</p>
						</div>
					</td>
					<td>Il y a 1 jour</td>
					<td>alex.dupont@example.com</td>
					<td>(123) 456-7890</td>
					<td>Ordinateur portable</td>
					<td>15/04/2024</td>
					<td>22/04/2024</td>
					<td>
						<span class="badge bg-warning text-dark">En bon état</span>
					</td>
					<td>Autorisé</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
								data-bs-toggle="dropdown" aria-expanded="false">
								Choisir une action
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item view-details" href="#" data-bs-toggle="modal"
										data-bs-target="#detailsModal">Voir les détails des locations</a></li>
								<li><a class="dropdown-item write-to-manager-action" href="#" data-bs-toggle="modal"
										data-bs-target="#communication-client">Contacter le client</a></li>
								<li><a class="dropdown-item delete-client" href="#">Bloquer</a></li>
								<li><a class="dropdown-item edit-client" href="#">Modifier/ajouter les informations du client</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<p class="m-0">Béatrice Émond</p>
						</div>
					</td>
					<td>Il y a 3 jours</td>
					<td>beatrice.emond@example.com</td>
					<td>(321) 654-9870</td>
					<td>Scanner 3D</td>
					<td>10/04/2024</td>
					<td>20/04/2024</td>
					<td>
						<span class="badge bg-danger">Endommagé</span>
					</td>
					<td>Accès suspendu</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
								data-bs-toggle="dropdown" aria-expanded="false">
								Choisir une action
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item view-details" href="#" data-bs-toggle="modal"
										data-bs-target="#detailsModal">Voir les détails des locations</a></li>
								<li><a class="dropdown-item write-to-manager-action" href="#" data-bs-toggle="modal"
										data-bs-target="#communication-client">Contacter le client</a></li>
								<li><a class="dropdown-item delete-client" href="#">Bloquer</a></li>
								<li><a class="dropdown-item edit-client" href="#">Modifier/ajouter les informations du client</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<p class="m-0">Claude Mercier</p>
						</div>
					</td>
					<td>Il y a 5 jours</td>
					<td>claude.mercier@example.com</td>
					<td>(987) 654-3210</td>
					<td>Drones de surveillance</td>
					<td>05/04/2024</td>
					<td>15/04/2024</td>
					<td>
						<span class="badge bg-success">Comme neuf</span>
					</td>
					<td>Bloqué</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
								data-bs-toggle="dropdown" aria-expanded="false">
								Choisir une action
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item view-details" href="#" data-bs-toggle="modal"
										data-bs-target="#detailsModal">Voir les détails des locations</a></li>
								<li><a class="dropdown-item write-to-manager-action" href="#" data-bs-toggle="modal"
										data-bs-target="#communication-client">Contacter le client</a></li>
								<li><a class="dropdown-item delete-client" href="#">Bloquer</a></li>
								<li><a class="dropdown-item edit-client" href="#">Modifier/ajouter les informations du client</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
