<section>
	<div class="head-block">
		<div class="left-block">
			<div class="link">
				<a class="link_1" href="#">Se connecter</a>
				<a class="link_2" href="#">S'inscrire</a>
			</div>
			<div id="login-container">
				<form id="loginForm" method="post">
					<h2>Connectez-vous pour continuer</h2>
					<div class="inputbox">
						<label for="loginEmail" class="form-label">Email</label>
						<input type="email" class="form-control" id="loginEmail" name="email" placeholder="Enter your email"
							value="manager@laposte.net">
					</div>
					<div class="inputbox">
						<label for="loginPassword" class="form-label">Mot de passe</label>
						<input type="password" class="form-control" id="loginPassword" name="password"
							placeholder="Enter your Password" value="manager">
					</div>
					<div class="forget">
						<label for="checkbox">Se souvenir de moi
							<span>
								<input type="checkbox" name="remember">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
								</svg>
							</span>
						</label>
					</div>
					<button class="btn" type="submit">Connexion</button>
				</form>
			</div>
			<div id="registration-container" style="display: none;">
				<form method="POST" action="http://germax-api/src/endpoints/register.php" id="registrationForm">
					<div class="inputbox">
						<label for="inputLastname" class="form-label">Nom</label>
						<input type="text" class="form-control" id="inputLastname" name="lastname"
							placeholder="Enter your lastname">
						<div class="error-container" id="errorInputLastname"></div>
					</div>
					<div class="inputbox">
						<label for="inputFirstname" class="form-label">Prénom</label>
						<input type="text" class="form-control" id="inputFirstname" name="firstname"
							placeholder="Enter your firstname">
						<div class="error-container" id="errorInputFirstname"></div>
					</div>
					<div class="inputbox">
						<label for="inputPhone" class="form-label">Téléphone</label>
						<input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="Enter your phone number">
						<div class="error-container" id="errorInputPhone"></div>
					</div>
					<div class="inputbox">
						<label for="inputEmail" class="form-label">Adresse mail</label>
						<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your best email">
						<div class="error-container" id="errorInputEmail"></div>
					</div>
					<div class="inputbox">
						<label for="inputPassword" class="form-label">Mot de passe</label>
						<input type="password" class="form-control" id="inputPassword" name="password"
							placeholder="Invent your Password">
						<div class="error-container" id="errorInputPassword"></div>
					</div>
					<div class="inputbox">
						<label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
							placeholder="Confirm Password">
						<div class="error-container" id="errorConfirmPassword"></div>
					</div>
					<div class="inputbox userType" id="userTypeContainer">
						<label for="type-permission" class="form-label"></label>
						<select class="form-control form-select" id="type-permission" name="type-permission">
							<option value="" disabled selected>Choisissez un type</option>
							<option value="admin">Admin</option>
							<option value="rental-manager">Manager</option>
							<option value="stockman">Gestionnaire de stocks</option>
							<option value="teacher">Enseignant</option>
							<option value="student">Etudiant</option>
						</select>
						<div class="error-container" id="errorTypePermission"></div>
						<div id="facultyContainer" class="inputbox"></div>
					</div>
					<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
				</form>
			</div>
		</div>
	</div>
	<div class="right-block">
		<!-- Content for right block goes here -->
	</div>
</section>
