<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">GERMALOC</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
			</ul>
		</div>
	</div>
</nav>

<div class="container mt-5">
</div>
<div id="backArrowContainer"></div>
<h1>Conditions d'utilisation</h1>
<section>
	<h2>Vérification de la disponibilité de l'équipement</h2>
	<p>Vous pouvez vérifier la disponibilité de l'équipement en temps réel sur notre plateforme en ligne. Connectez-vous
		simplement et accédez à la section 'Matériel disponible' pour voir les articles qui peuvent être empruntés
		immédiatement.</p>
</section>
<section>
	<h2>Problèmes avec l'équipement emprunté</h2>
	<p>Si vous rencontrez un problème avec l'équipement, veuillez le signaler immédiatement via notre système de ticket
		en ligne ou contactez le gestionnaire de parc pour assistance. Nous nous efforcerons de résoudre le problème ou de
		remplacer l'article le plus rapidement possible.</p>
</section>
<section>
	<h2>Limite de temps pour l'emprunt du matériel</h2>
	<p>Chaque catégorie d'équipement a une durée d'emprunt maximale spécifiée pour s'assurer que tous les étudiants ont
		la chance d'utiliser les ressources. Vous pouvez trouver les détails des durées d'emprunt dans les conditions
		d'utilisation.</p>
</section>
<section>
	<h2>Gestion du dépôt de garantie</h2>
	<p>Le dépôt de garantie est géré par le service comptable de l'établissement. Il doit être payé au moment de
		l'emprunt et sera entièrement remboursé lors du retour de l'équipement en bon état.</p>
</section>
<section>
	<h2>Renouvellement de l'emprunt</h2>
	<p>Selon la disponibilité de l'équipement, vous pourrez peut-être renouveler votre emprunt. Pour cela,
		connectez-vous à votre compte et faites une demande de renouvellement avant la fin de la période d'emprunt
		initiale.</p>
</section>
<section>
	<h2>Signalement d'équipement endommagé ou en état d'usure</h2>
	<p>Si vous constatez que l'équipement est endommagé ou en état d'usure, veuillez le signaler immédiatement. Cela
		peut être fait en vous connectant à votre compte et en soumettant un ticket via notre système de ticket en ligne.
	</p>
</section>
<section>
	<h2>Retard dans la restitution de l'équipement</h2>
	<p>Le retard dans la restitution du matériel peut entraîner des sanctions selon les termes des conditions
		d'utilisation, y compris l'impossibilité d'emprunter de nouveau. Nous vous encourageons à communiquer avec nous en
		cas de retard pour éviter ces désagréments.</p>
</section>
</div>
