<div class="container mt-5">
	<h2>Réservations à venir</h2>
	<div class="row">
		<div class="col-md-3">
			<div class="list-group mb-4">
				<a href="#" class="list-group-item list-group-item-action" data-filter="all">Toutes les
					catégories</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="laptop">Ordinateurs
					portables</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="computer_monitor">Ecrans
					d'ordinateurs</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="smartphone">Smartphones</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="accessory">Accessoires</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="tablet">Tablettes</a>
				<a href="#" class="list-group-item list-group-item-action" data-filter="VR_headset">Casque VR</a>
			</div>
			<!-- Фильтры по датам можно оставить в основной колонке фильтров или добавить здесь -->
		</div>
		<div class="col-md-9">
			<div class="filter-section mb-4">
				<form class="form-inline">
					<!-- Фильтры по датам, если необходимо -->
					<div class="form-group mb-2 mr-2">
						<label for="startDate" class="sr-only">Date de début</label>
						<input type="date" class="form-control" id="startDate" placeholder="Date de début">
					</div>
					<div class="form-group mb-2 mr-2">
						<label for="endDate" class="sr-only">Date de fin</label>
						<input type="date" class="form-control" id="endDate" placeholder="Date de fin">
					</div>
					<button type="submit" class="btn btn-primary mb-2">Filtrer</button>
				</form>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>ID Réservation</th>
							<th>Catégorie</th>
							<th>Modèle</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th>Statut</th>
						</tr>
					</thead>
					<tbody>
						<!-- Les réservations filtrées seront affichées ici -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-md-9 text-center">
			<h1>Agenda de locations</h1>
		</div>
	</div>
</div>

<div id="calendar" class="mt-3"></div>
