<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
	integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/3paNdF+ZlsHrya1voWQ0yE/fbfl2D3" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">GERMALOC</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
			</ul>
		</div>
	</div>
</nav>

<div class="container mt-5">
	<div class="row">
		<div class="col-12">
			<a class="btn btn-back" href="/"><i class="fas fa-arrow-left"></i> Home</a>
		</div>
	</div>
	<h1>Politique de confidentialité</h1>
	<section>
		<h2>Collecte des informations</h2>
		<p>Nous recueillons des informations personnelles lorsque vous vous inscrivez sur notre site, passez une commande,
			vous abonnez à notre newsletter ou remplissez un formulaire. Les informations collectées peuvent inclure votre
			nom, adresse e-mail, adresse postale et numéro de téléphone.</p>
	</section>
	<section>
		<h2>Utilisation des informations</h2>
		<p>Les informations que nous recueillons peuvent être utilisées pour :</p>
		<ul>
			<li>Personnaliser votre expérience et répondre à vos besoins individuels.</li>
			<li>Améliorer notre site web en fonction des informations et des commentaires que nous recevons de votre part.
			</li>
			<li>Améliorer le service client et vos besoins de prise en charge.</li>
			<li>Traiter les transactions rapidement.</li>
		</ul>
	</section>
	<section>
		<h2>Protection des informations</h2>
		<p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations
			personnelles. Nous utilisons un cryptage avancé pour protéger les informations sensibles transmises en ligne.
			Seuls les employés autorisés ont accès à vos informations personnelles.</p>
	</section>
	<section>
		<h2>Divulgation à des tiers</h2>
		<p>Nous ne vendons, n'échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela
			n'inclut pas les tierce parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires,
			tant que ces parties conviennent de garder ces informations confidentielles.</p>
	</section>
	<section>
		<h2>Consentement</h2>
		<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
		<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, donc veuillez la
			consulter fréquemment. Si nous apportons des modifications matérielles à cette politique, nous vous en informerons
			ici.</p>
		<p>Pour toute question concernant cette politique de confidentialité, vous pouvez nous contacter à
			support@germaloc.fr.</p>
	</section>
</div>
