<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/school/">
			<img src="../../../assets/img/GERMAX.jpg" alt="logo" style="height: 50px;">
		</a>
		<div class="collapse navbar-collapse justify-content-end" id="horizontalNavbar">
			<!-- генерация вертикального меню -->
		</div>
		<div id="notificationsModalPlace">
		</div>
		<div id="supportModalContainer">
		</div>
	</nav>
	<!-- Контейнер для вкладок, расположенный прямо под навигацией -->
	<!-- Здесь будет разметка вкладок -->
</div>

<div class="row g-0">
	<div class="col-md-3">
		<div class="list-group">
			<!-- вертикальное меню слева -->
			<div id="dynamicMenu"></div>
		</div>
	</div>
	<div class="col-md-9">
		<!-- Содержимое для студентов и преподавателей -->
		<div id="tabPlace"></div>
		<div id="myLoans"></div>
		<div id="clientLoansHistory"></div>
		<div id="modalNewStudentOrTeacherRequest"></div>
		<div id="modalRequestLoan"></div>
		<div id="modalLoanForm"></div>
		<div id="modalClientLoans"></div>
		<!-- Содержимое для админа -->
		<div id="adminReportsModal"></div>
		<div id="adminFeedBackModal"></div>
		<div id="adminContainerSettingsModal"></div>
		<!-- Содержимое для кладовщика -->
		<div id="profileContainer"></div>
	</div>
</div>
</div>
