@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

.equipment-list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

/* index.css */

/* Цветовая палитра */
:root {
	--primary-color: #E7717D;
	--secondary-color: #C2CAD0;
	--tertiary-color: #C2B9B0;
	--quaternary-color: #7E685A;
	--accent-color: #AFD275;
	--background-color: #F8F9FA;
	--white-color: #ffffff;
	--text-color: #343a40;
}

.container:not(footer .container) {
	background-color: var(--background-color);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-title {
	font-weight: bold;
	color: var(--text-color);
}

.jumbotron {
	background-color: var(--white-color);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
	margin-bottom: 20px;
}

.input-group .form-control {
	border-radius: 5px;
	border: 1px solid var(--tertiary-color);
}

.list-group-item {
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--text-color);
}

.list-group-item.active {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--white-color);
}

.equipment-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.model-details {
	background-color: var(--white-color);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex: 1 0 21%; /* fallback for older browsers */
	flex: 1 0 calc(25% - 20px);
	box-sizing: border-box;
}

.model-details img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.model-details h3 {
	color: var(--primary-color);
}

.btn-primary {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.btn-primary:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-secondary {
	background-color: var(--quaternary-color);
	border-color: var(--quaternary-color);
}

.btn-secondary:hover {
	background-color: var(--quaternary-color);
	border-color: var(--quaternary-color);
}

.modal-content {
	border-radius: 10px;
}

.custom-jumbotron {
	background-color: #C2CAD0;
	padding: 2rem;
	border-radius: 10px;
}

.custom-jumbotron .lead,
.custom-jumbotron p {
	color: #7E685A;
}

.custom-jumbotron .btn-primary {
	background-color: #E7717D;
	border: none;
}

.custom-jumbotron .btn-primary:hover {
	background-color: #AFD275;
}

.custom-title {
	text-align: center;
	font-family: 'Arial', sans-serif;
	color: #E7717D;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: bold;
}

#request-button {
	font-size: 1.2rem; /* Увеличение размера шрифта */
	padding: 1rem 1.5rem; /* Увеличение отступов внутри кнопки */
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.pagination-container button {
	background-color: var(--primary-color);
	border: none;
	color: var(--white-color);
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pagination-container button:hover {
	background-color: var(--accent-color);
}

.pagination-container button:disabled {
	background-color: var(--secondary-color);
	cursor: not-allowed;
}

.pagination-container #pageInfo {
	font-size: 16px;
	color: var(--text-color);
}

/* retour en arrière */
#backArrowContainer {
	position: fixed;
	top: 71px; /* Отрегулируйте это значение по необходимости */
	left: 10px; /* Почти прижата к левому краю страницы */
	z-index: 1000;
}

.back-arrow {
	font-size: 20px; /* Сделаем кнопку жирнее */
	color: var(--primary-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: color 0.3s ease, opacity 0.3s ease; /* Добавим плавный переход для непрозрачности */
	padding: 10px;
	border-radius: 5px;
	opacity: 0.3; /* Полупрозрачная кнопка */
}

.back-arrow:hover {
	color: var(--accent-color);
	text-decoration: underline;
	opacity: 1; /* Увеличим непрозрачность при наведении */
}

.back-arrow i {
	margin-right: 5px;
	transition: transform 0.3s ease;
}

.back-arrow:hover i {
	transform: translateX(-5px);
}


.navbar .btn-auth {
	background-color: var(--primary-color);
	color: white;
}

.navbar .btn-auth:hover {
	background-color: var(--accent-color);
}
