<div class="container mt-5">
	<h5 class="modal-title" id="fullScreenModalLabel">Поиск и Фильтрация Оборудования</h5>
	<form class="jumbotron mt-4">
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="model-search" placeholder="Rechercher par modèle">
			<!-- <div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit" id="search-button">Rechercher</button>
			</div> -->
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">

					<div class="list-group" id="type-filter">
						<a class="list-group-item list-group-item-action active" data-type="all">All</a>
						<a class="list-group-item list-group-item-action" data-type="laptop">Ordinateurs portables</a>
						<a class="list-group-item list-group-item-action" data-type="сomputer_monitor">Ecrans d'ordinateurs</a>
						<a class="list-group-item list-group-item-action" data-type="smartphone">Smartphones</a>
						<a class="list-group-item list-group-item-action" data-type="accessory">Accessoires</a>
						<a class="list-group-item list-group-item-action" data-type="tablet">Tablettes</a>
						<a class="list-group-item list-group-item-action" data-type="VR_headset">Casque VR</a>
					</div>

				</div>
				<div class="col-md-9">
					<div class="equipment-list" id="equipment-list">
						<!-- Сюда будут загружаться результаты -->
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="jumbotron mt-4">
		<p class="lead">Vous n'avez pas trouvé ce dont vous avez besoin ?</p>
		<hr class="my-4">
		<p>Ici, vous pouvez rapidement et facilement envoyer une demande de location de l'équipement nécessaire au
			gestionnaire de l'entrepôt.</p>
		<a class="btn btn-primary btn-sm" id="loansRequest" href="#">Aller au formulaire</a>
	</div>
</div>





<div class="modal fade show" id="loanFormModal" tabindex="-1" aria-labelledby="loanFormModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="loanFormModalLabel">Demande du matériel non trouvé</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="equipmentCategory" class="form-label">Catégorie du matériel</label>
						<select class="form-select" id="equipmentCategory">
							<option>Ordinateurs portables</option>
							<option>Ecrans d'ordinateurs</option>
							<option>Smartphones/option>
							<option>Accessoires</option>
							<option>Tablettes</option>
							<option>Casques-VR</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="modelInput" class="form-label">Commencez à rentrer le nom du modèle</label>
						<input type="text" class="form-control" id="modelInput" placeholder="Rentrez le nom du modèle">
					</div>
					<div class="mb-3">
						<label for="quantity" class="form-label">Quantité</label>
						<input type="number" class="form-control" id="quantity" placeholder="1">
					</div>
					<div class="mb-3">
						<label for="rentalDates" class="form-label">Dates de location</label>
						<input type="text" class="form-control" id="rentalDates" placeholder="с 01.01.2024 по 10.01.2024">
					</div>
					<div class="mb-3">
						<label for="comments" class="form-label">Commentaires</label>
						<textarea class="form-control" id="comments" rows="3"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button type="submit" class="btn btn-primary">Envoyer la requête</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade show" id="newLoanFormModal" tabindex="-1" aria-labelledby="loanFormModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title" id="loanFormModalLabel">Demande de location</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="quantity" class="form-label">Quantité</label>
						<input type="number" name="quantity" min="1" class="form-control" id="quantity" value="1" required="true">
					</div>
					<div class="mb-3">
						<label for="dateStart" class="form-label">Date de début</label>
						<input type="date" name="dateStart" class="form-control" id="dateStart" required="true">
					</div>
					<div class="mb-3">
						<label for="dateEnd" class="form-label">Date de fin</label>
						<input type="date" name="dateEnd" class="form-control" id="dateEnd" required="true">
					</div>
					<div class="mb-3">
						<label for="comments" class="form-label">Commentaires</label>
						<textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary" id="confirmRentalButton">Confirmer la demande</button>
				</div>
			</form>
		</div>
	</div>
</div>
