<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">Login</h5>
					<form method="POST" action="../../controllers/LoginController.php" id="loginForm">
						<div class="mb-3">
							<label for="loginEmail" class="form-label">Email address</label>
							<input type="email" class="form-control" id="loginEmail" name="email" placeholder="Enter your email">
						</div>
						<div class="mb-3">
							<label for="loginPassword" class="form-label">Password</label>
							<input type="password" class="form-control" id="loginPassword" name="password"
								placeholder="Enter your Password">
						</div>
						<button type="submit" class="btn btn-success btn-block">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
