@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
/* Couleurs principales */
:root {
	--primary-color: #E7717D;
	--secondary-color: #C2CAD0;
	--tertiary-color: #C2B9B0;
	--quaternary-color: #7E685A;
	--accent-color: #AFD275;
}

#backArrowContainer {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2000;
}

.back-arrow {
	font-size: 40px;
	color: var(--primary-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: color 0.3s ease;
	background-color: var(--secondary-color);
	padding: 10px;
	border-radius: 5px;
}

.back-arrow:hover {
	color: var(--accent-color);
	text-decoration: underline;
}

.back-arrow i {
	margin-right: 5px;
	transition: transform 0.3s ease;
}

.back-arrow:hover i {
	transform: translateX(-5px);
}
