RewriteEngine On
RewriteBase /

# Перенаправление запросов для /{route}/
RewriteRule ^([^/]+)/?$ src/controllers/$1/index.php [L]

# Перенаправление запросов для /{route}/{route-child}/
RewriteRule ^([^/]+)/([^/]+)/?$ src/controllers/$1/$2.php [L]
