/* Стили для бокового меню */
.sidebar {
	width: auto; /* Ширина будет подстраиваться под содержимое */
	min-width: 150px; /* Минимальная ширина, чтобы содержимое не сжималось слишком сильно */
	max-width: 250px; /* Максимальная ширина, чтобы меню не было слишком широким */
	padding: 10px; /* Внутренние отступы для визуального комфорта */
	overflow-y: auto; /* Позволяет прокрутку, если содержимое длинное */
	height: 100%; /* Высота подстраивается под контейнер */
	background-color: #f7f7f7; /* Цвет фона */
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Тень для выделения меню */
}

/* Стили для основного контента */
.content {
	flex-grow: 1; /* Контент занимает все доступное пространство */
	padding: 20px; /* Добавляем внутренние отступы */
	background-color: #fff; /* Цвет фона для основного контента */
}

/* Дополнительные стили */
.nav-pills {
	margin-bottom: 20px; /* Добавляем отступ между меню и контентом */
	background-color: #f8f9fa; /* Цвет фона для меню */
	border-radius: 0.25rem; /* Скругление углов */
}

.nav-item.dropdown {
	position: relative; /* Сброс позиционирования */
}

.navbar .dropdown-menu {
	position: absolute;
	right: 0;
	left: auto; /* Убираем влияние свойства left */
	width: auto; /* Ширина по содержимому */
	min-width: 150px; /* Минимальная ширина */
	max-height: calc(100vh - 100px); /* Максимальная высота с прокруткой */
	overflow-y: auto; /* Включаем прокрутку */
}

.dropdown-menu a.dropdown-item {
	text-align: right;
}

.section {
	margin-bottom: 20px; /* Отступы между секциями */
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}

.main-content {
	display: flex; /* Используем flexbox для упорядочивания бокового меню и контента */
}

.navbar {
	width: 100%; /* Полная ширина */
	margin-bottom: 20px; /* Отступ снизу для разделения от остального контента */
}

.profile-img {
	position: relative;
	text-align: center;
}

.profile-img img {
	border-radius: 50%;
	width: 150px; /* Или ваш нужный размер */
	height: 150px; /* Или ваш нужный размер */
}

.custom-file-upload {
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Другие стили, такие как цвет фона, иконка загрузки и т.д. */
	cursor: pointer;
}

.custom-file-upload input[type="file"] {
	width: 150px; /* Такой же, как и у img */
	height: 150px; /* Такой же, как и у img */
	opacity: 0; /* Скрываем поле */
}

/* Стили для фона */
.background-image-upload {
	/* Ваши стили */
	position: absolute; /* или fixed, если нужно фиксированное положение */
	width: 100%;
	height: 100%;
	z-index: -1; /* убедитесь, что фон находится под другими элементами */
	top: 0;
	right: 0;
  }

  /* Обновленные стили для .background-image-upload */
  .background-image-upload .custom-background-upload {
	/* Ваши стили */
	position: absolute;
	bottom: 10px; /* Расположение относительно нижнего края */
	right: 10px; /* Расположение относительно правого края */
	z-index: 10; /* убедитесь, что кнопка загрузки видна */
  }
